{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "noSemi": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "importOrderSeparation": false,
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "",
    "^~/(.*)$",
    "",
    "^[./]"
  ]
}
